*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poiret One", serif;
}

.container{
    overflow: hidden;

    .hero{
        background-image: url(../img/marmore.jpg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 32vh;
        position: relative;

        &::before{
            background-image: linear-gradient(0deg, #000, transparent);
            content: '';
            inset: 0;
            position: absolute;
        }

        .avatar{
            position: relative;
            width: 20vw;
            height: 20vw;
            border-radius: 50%;
            top: 32vh;
            left: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);

            @media(max-width: 1024px){
                width: 32vh;
                height: 32vh;
            }

            .img_box{
                position: absolute;

                img{
                    max-width: 20vw;
                    border-radius: 50%;
                    border: #c2a870 solid 1px;
                    box-shadow: #80673e 0 0 8px;
                    overflow: hidden;
                    transition: all ease-in-out 1s;

                    @media(max-width: 1024px){
                        max-width: 32vh;
                    }
                    @media(max-width: 768px){
                        transition: all ease-in-out .3s;
                    }
                }
            }
        }
    }

    .infosBG{
        background-image: url(../img/luxury.jpg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 68vh;

        @media(max-width: 768px){
            background-image: url(../img/luxury2.jpg);
        }

        .infos{
            height: 68vh;
            margin: 0 auto;
            text-align: center;
            padding-top: 24vh;
            padding-bottom: 8vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: relative;
            
            @media(max-width: 1024px){
                padding-left: 16px;
                padding-right: 16px;
            }

            &::before{
                background-color: #0009;
                background-image: linear-gradient(0deg, transparent, #000);
                content: '';
                inset: 0;
                position: absolute;
            }
        
            .titles{
                margin: 0 auto;
                text-shadow: #fff 0 0 2px;
                z-index: 1;
                
                .title{
                    font-size: 56px;
                    margin-bottom: 8px;
                    letter-spacing: 12px;

                    @media(max-width: 2559px){
                        font-size: 28px;
                        letter-spacing: 6px;
                    }
                    @media(max-width: 1024px) and (min-height: 1024px){
                        font-size: 56px;
                        letter-spacing: 4px;
                    }   
                    @media(max-width: 768px){
                        font-size: 24px;
                        letter-spacing: 4px;
                    }   
                }

                .subtitle{
                    font-size: 40px;
                    font-weight: 400;

                    @media(max-width: 2559px){
                        font-size: 20px;
                    }
                    @media(max-width: 1024px) and (min-height: 1024px){
                        font-size: 32px;
                    }
                    @media(max-width: 768px){
                        font-size: 16px;
                    }
                }
            }

            .icons{
                z-index: 1;
                display: flex;
                max-width: 1080px;
                margin: 0 auto;
                gap: 2vw; 

                @media(max-width: 1024px) and (min-height: 1024px){
                    gap: 4vh;
                }
                @media(max-width: 768px){
                    gap: 4vh;
                }

                .icon_box{
                    box-shadow: #fff 0 0 2px;
                    border-radius: 50%;
                    transition: all ease .2s;

                    &:hover{
                        transform: scale(1.1);
                        box-shadow: #fff 0 0 8px;
                        transition: all ease .2s;
                    }

                    .icon{
                        max-width: 160px;

                        @media(max-width:2559px){
                            max-width: 48px;
                        }
                        @media(max-width: 1024px) and (min-height: 1024px){
                            max-width: 80px;
                        }
                        @media(max-width: 768px){
                            max-width: 40px;
                        }
                    }
                }
            }
            p{
                letter-spacing: 8px;
                margin: 0 auto;
                font-size: 32px;
                text-shadow: #fff 0 0 2px;
                z-index: 1;

                @media(max-width:2559px){
                    font-size: 16px;
                    letter-spacing: 2px;
                }
                @media(max-width: 1024px) and (min-height: 1024px){
                    font-size: 28px;
                    letter-spacing: 4px;
                }
                @media(max-width: 768px){
                    font-size: 16px;
                }
            }
        }
    }

    .hidden{
        opacity: 0;
        transform: scale(1.1);
        transition: all ease-in-out 1s;

        @media(max-width: 768px){
            transition: all ease-in-out .3s;
        }
    }
}